:root {
    --primary-white: hsl(0, 0%, 90%);
    --primary-gray: hsl(0, 0%, 41%);
    --primary-black: hsl(0, 0%, 8%);
    --primary-yellow: rgb(221, 195, 81);
    --font-size: 18px;
}

.body {
    background: var(--primary-white);
    color: var(--primary-black);
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
    text-decoration: none;
    cursor: default;
    color: var(--primary-gray);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;
    padding: 1rem 6rem;
}

.header__left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__left-NASA-logo{
    font-size: 2rem;
    margin-right: 4rem;
}

.header__left-link {
    margin-right: 3rem;
}

.header_left-links li {
    margin-right: 2rem;
}

.header__right-register{
    margin-left: 2rem;
    padding: 0.5rem 1.5rem;
    border: 1px var(--primary-gray) solid;
    border-radius: 0.5rem;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    margin: 4rem;
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
    }
}

.main__left{
    margin: 2rem;
    width: 100%;
}

.main__left-title{
    font-size: 3rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.main__left-description{
    margin: 2rem 0;
    color: var(--primary-gray);
    line-height: 1.6;
}
.main__left-button{
    border: 1px solid black;
    padding: 0.75rem 1.5rem;
    border-radius: 0.7rem;
    background: var(--primary-black);
    color: var(--primary-white);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.main__left-button:hover {
    background: var(--primary-gray);
    border: 1px solid var(--primary-gray);
    scale: 110%;
    transition: all 0.1s linear;
}

.main__right{
    margin: 2rem;
}
.main__right-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    outline: none;
    border-style: none;
}

.image-skeleton {
    width: 400px;
    height: 400px;
    animation: loading linear 1s infinite alternate;
}

.h1-skeleton {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    animation: loading linear 1s infinite alternate;
}

.h1-skeleton:nth-child(2){
    width: 50%;
}

.p-skeleton {
    width: 100%;
    height: 20px;
    margin-bottom: 12px;
    animation: loading linear 1s infinite alternate;
}

.p-skeleton:last-of-type {
    width: 80%;
    height: 20px;
    margin-bottom: 12px;
    animation: loading linear 1s infinite alternate;
}
@keyframes loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.mobile__left {
    display: none;
}

.mobile__right {
    display: none;
}

@media (max-width: 800px) {
    .header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 3.5rem;
        padding: 1rem 4rem;
    }

    .header__left {
        display: none;
    }
    .header__right {
        display: none;
    }
    .mobile__left {
        display: block;
    }
    .mobile__left-NASA-logo {
        font-size: 2rem;
    }
    .mobile__right {
        display: block;
    }
    .main__right-image {
        width: 300px;
        height: 300px;
    }
    .main {
        margin-top: 0;
    }
    .main__left-button {
        border: 1px solid black;
        padding: 0.75rem 1.5rem;
        border-radius: 0.7rem;
        background: var(--primary-black);
        color: var(--primary-white);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size:1.2rem;
        width: 100%;
        margin: 0 auto;
        height: 4rem;
    }
}